<div class="spotlight panel panel-default animated" ng-show="$ctrl.spotlightVisible">
    <div class="panel-body">
        <input type="text" class="form-control" ng-model="$ctrl.spotlightSearch" ng-change="$ctrl.onSearchUpdate()"/>
    </div>
    <ul class="list-group action-list">
        <li class="list-group-item" ng-repeat="action in $ctrl.spotlightActions" ng-click="$ctrl.runAction(action)">
            {{action.title}}
        </li>
        <li class="list-group-item text-muted" ng-if="!$ctrl.spotlightActions.length && $ctrl.spotlightSearch.length > 0">
            No action found
        </li>
        <li class="list-group-item text-muted" ng-if="!$ctrl.spotlightActions.length && $ctrl.spotlightSearch.length === 0">
            Type to search action
        </li>
    </ul>
</div>