@import "../../bower_components/bootstrap-css-only/css/bootstrap.min.css";

div.spotlight {
    position: fixed;
    top: 20vh;
    left: 50%;
    min-width: 220px;
    width: 100%;
    max-width: 40vw;
    -webkit-transition: all 180ms ease-in-out;
    transition: all 180ms ease-in-out;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

div.spotlight.ng-hide {
    display: block !important;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-200%);
    transform: translateX(-50%) translateY(-200%);
    opacity: 0;
}

div.spotlight .action-list {
    max-height: 40vh;
    overflow-y: auto;
}

div.spotlight .action-list > .list-group-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}