<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="en" class="ie6" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]--><!--[if IE 7 ]>
<html lang="en" class="ie7" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]--><!--[if IE 8 ]>
<html lang="en" class="ie8" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]--><!--[if IE 9 ]>
<html lang="en" class="ie9" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="" <% if(htmlWebpackPlugin.files.manifest) { %>manifest="<%= htmlWebpackPlugin.files.manifest %>"
        <% } %>
> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title || 'Webpack App' %></title>
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <% } %>
    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% } %>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default text-center" style="margin-top: 10vh">
                <div class="panel-body">
                    <h3>Spotlight</h3>
                    <p>An angular version of spotlight component from mac osx</p>
                </div>
                <div class="panel-footer">
                    <small>Can be triggered by tapping <code>.</code>twice</small>
                </div>
            </div>
        </div>
    </div>
</div>
<spotlight></spotlight>
</body>
</html>